@CHARSET "ISO-8859-1";

.loginfail {
	color: red;
	font-style: weight;
}

.welcomeText {
	color: Blue;
	font-style: weight;
	text-align: left;
}

.logout {
	color: Blue;
	font-style: weight;
	text-align: right;
}